@{
    ViewData["Title"] = "CategoryUpdate";
    Layout = "~/Views/Shared/layout.cshtml";
}

<form action="#" method="post" id="CategoryUpdate" enctype="multipart/form-data" class="form-horizontal p-4">

    <div class="row form-group">
        <div class="col col-md-3"><label for="name" class=" form-control-label">KAtegori Adı</label></div>
        <div class="col-12 col-md-9"><input type="text" id="name" name="name" placeholder="Text" class="form-control"></div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3"><label for="minStok" class=" form-control-label">Minumum Stok miktarı</label></div>
        <div class="col-12 col-md-9"><input type="number" id="minStok" name="minStok" placeholder="Text" class="form-control"></div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-danger btn-sm">
            <i class="fa fa-ban"></i> Reset
        </button>
    </div>

</form>

<script>
    $(document).ready(function () {
        var path = window.location.pathname;
        parts = path.split("/")
        id = parts.pop() || parts.pop()
        console.log(id)
        CategoryId(id)

        $("#CategoryUpdate").submit(function (event) {
            event.preventDefault();
            CategoryUpdate(id)
        })
    })
</script>